nelmio_api_doc:
  documentation:
    info:
      title: Drinkks Backend For Front API
      description: Description Drinkks Backend For Front API
      version: 1.0.0
    components:
      securitySchemes:
        Bearer:
          type: http
          scheme: bearer
          bearerFormat: JWT
    security:
      - Bearer: []
  areas:
    path_patterns:
      - ^/api(?!/doc)
